include LICENSE.txt
include README.md
recursive-include bbio *.py *.c *.h
recursive-include bbio/libraries *.md
recursive-include bbio/libraries/BBIOServer/src *.*
recursive-include examples *.*
recursive-include tools *.py *.txt *.dts *.dtbo